header {
    text-align: center;
}
div#contenedor_juego {
    display: flex;
}

div#juego {
    text-align: center;
    width: 50%;
}

div#boss {
    text-align: center;
    width: 50%;
}

div#botones {
    text-align: center;
}